html {
  background-color: #000000;
}

body {
  color: #FFFFFF;
  height: 100vh;
  width: 100vw;
  font: roboto;
}

h1, h2, h3, h4, h5, h6 {
  font-family: earth, Helvetica, Arial, sans-serif;
}

@font-face {
    font-family: earth;
    src: url(earth.ttf);
    font-weight:400;
}

.ink-navigation ul.menu.black {
  background-color: black !important;
}

.nav-slight-pad {
  padding: .3em;
}

.slight-title-pad {
  padding: 1em;
}
a {
  color: #DADADA;
}

a:hover {
  color: #FFFFFF;
  text-decoration: none;
}

.full-view {
  display: flex;
  max-height: 100%;
}

.glyph {
  z-index: 5;
  background: black;
  position: absolute;
  margin-right: 10%;
  opacity: 0.5;
  margin-top: 0;
  animation: glyphy 2s 1s infinite alternate;
}

.shuffle {
  animation: sparkle 2s 1s infinite alternate;
}

.jiggle {
  animation: sparkle2 3s 2s infinite alternate;
}

.run {
  animation: sparkle3 2s 1s infinite alternate;
}


.outer {
  z-index: 2;
  border: solid;
  border-width: 1px;
  border-bottom: dashed;
  transform: rotate(.85turn);
  border-color: grey;
  border-radius: 50%;
  height: 20em;
  width: 20em;
  margin: 7em;
}

.inner {
  z-index: 2;
  border: groove;
  border-width: 1px;
  border-color: grey;
  border-radius: 50%;
  height: 13em;
  width: 13em;
}

.arrowup {
  z-index: 2;
  height: 1px;
  width: 290px;
  background-color: grey;
}

.arrowdown {
  z-index: 2;
  height: 1px;
  width: 290px;
  background-color: grey;
  transform: rotate(.75turn);
  margin-left: 9em;
  margin-top: 9em;
}

.arrowleft {
  z-index: 2;
  height: 1px;
  width: 500px;
  background-color: grey;
  transform: rotate(.12turn);
  margin-top: 7em;
  border: 1px;
  border-bottom: double;
}

.little {
  z-index: 2;
  border-width: 1px;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  border-top: groove;
  border-left: groove;
  border-color: grey;
}

.littlebottom {
  z-index: 2;
  border-width: 1px;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  border-style: dotted;
  border-color: grey;
}

@keyframes glyphy{
  0%{
    border-color: grey;
  }
  20%{
    margin-top: 5px;
  }
  25%{
    opacity: .2;
  }
  40%{
    border-color: grey;
    margin-left: 5px

  }
  45%{
    opacity: .2;
  }
  80%{
    border-color: grey;
    margin-left: 10px;
    margin-bottom: 5px;
  }
  100%{
    margin: auto;
  }
}

/*@keyframes dance{
  0%{
    margin-left: 2pt;
    margin-top: 4pt;
  }
  20%{
    margin-left: 10pt;
    margin-top: 12pt;
    color: black;
  }
  25%{
    margin-left: 14pt;
    margin-top: 4pt;
    color: grey;
  }
  40%{
    margin-left: 8pt;
    margin-top: 10pt;
  }
  45%{
    margin-left: 6pt;
    margin-top: 2pt;
    color: black;
  }
  80%{
    margin-right: 4pt;
    margin-top: 6pt;
  }
  100%{
    margin-right: 12pt;
    margin-top: 16pt;
    color: grey;
  }
}*/

/*@keyframes dance2{
  0%{
    margin-right: 2pt;
    margin-bottom: 4pt;
    color: black;
  }
  20%{
    margin-right: 10pt;
    margin-bottom: 12pt;
  }
  25%{
    margin-right: 14pt;
    margin-bottom: 4pt;
  }
  40%{
    margin-right: 8pt;
    margin-bottom: 10pt;
    color: grey;
  }
  45%{
    margin-right: 6pt;
    margin-bottom: 2pt;
    color: grey;
  }
  80%{
    margin-right: 4pt;
    margin-bottom: 6pt;
    color: black;
  }
  100%{
    margin-right: 12pt;
    margin-bottom: 16pt;
  }
}

@keyframes wiggle {
  25%{
    padding-left: 20%;
  }
  50% {
    padding: 1%;
  }
  75%{
    padding-right: 20%;
  }
  100%{
    padding: 1%;
  }
}*/

@keyframes sparkle{
  0%{
    color: black;
  }
  20%{
    color: white;
  }
  25%{
    color: grey;
  }
  40%{
    color: white;
  }
  45%{
    color: black;
  }
  100%{
    color: white;
  }
}

@keyframes sparkle2{
  0%{
    color: white;
  }
  20%{
    color: grey;
  }
  25%{
    color: black;
  }
  70%{
    color: white;
  }
  45%{
    color: black;
  }
  100%{
    color: white;
  }
}

@keyframes sparkle3{
  0%{
    color: black;
  }
  40%{
    color: white;
  }
  100%{
    color: black;
  }
}



.pad-me {
  padding: 1em;
}

.hide {
	color: black;
}

.center-vertical-less {
  padding-top: 3em;
}

.bottom-space {
  padding-bottom: 3em;
  margin-bottom: 0;
}

.center-vertical {
  margin-top: 13%;
}

.more-vertical {
  padding-top: 45%;
}

.slight-pad {
  padding: 2%;
}

.move-right {
  padding-left: 5%;
}
