html {
  background-color: #000000;
}

body {
  color: #FFFFFF;
  height: 100vh;
  width: 100vw;
  font: roboto;
}

h1, h2, h3, h4, h5, h6 {
  color: #24b8c6;
  font-family: elitedanger, Helvetica, Arial, sans-serif;
}

p, a {
  font-family: 'Raleway', sans-serif;
}

.ink-navigation ul.menu.black li ul.submenu {
  background-color: #747e80;
}

@font-face {
    font-family: elitedanger;
    src: url(elitedanger.ttf);
    font-weight:500;
}

@font-face {
  font-family: nasa;
  src: url(nasa.ttf);
  font-weight: 400;
}

.ink-navigation ul.menu.black {
  background-color: black !important;
}

.nav-slight-pad {
  padding: .3em;
}

.slight-title-pad {
  padding: 1em;
}
a {
  color: #DADADA;
}

a:hover {
  color: #FFFFFF;
  text-decoration: none;
}

.full-view {
  display: flex;
  max-height: 100%;
}

.glyph {
  z-index: 5;
  background: black;
  position: absolute;
  margin-right: 10%;
  opacity: 0.5;
  margin-top: 0;
  animation: glyphy 2s 1s infinite alternate;
}

.shuffle {
  animation: sparkle 2s 1s infinite alternate;
}

.jiggle {
  animation: sparkle2 3s 2s infinite alternate;
}

.run {
  animation: sparkle3 2s 1s infinite alternate;
}

.pop {
  animation: sparkle4 2s 1s infinite alternate;
}

.dizzy {
  animation: sparkle5 2s 1s infinite alternate;
}

.mad {
  animation: sparkle6 2s 1s infinite alternate;
}

.hey {
  animation: sparkle7 2s 1s infinite alternate;
}
.outer {
  z-index: 2;
  border: solid;
  border-width: 1px;
  border-bottom: dashed;
  transform: rotate(.85turn);
  border-color: grey;
  border-radius: 50%;
  height: 20em;
  width: 20em;
  margin: 7em;
}

.inner {
  z-index: 2;
  border: groove;
  border-width: 1px;
  border-color: grey;
  border-radius: 50%;
  height: 13em;
  width: 13em;
}

.arrowup {
  z-index: 2;
  height: 1px;
  width: 290px;
  background-color: grey;
}

.arrowdown {
  z-index: 2;
  height: 1px;
  width: 290px;
  background-color: grey;
  transform: rotate(.75turn);
  margin-left: 9em;
  margin-top: 9em;
}

.arrowleft {
  z-index: 2;
  height: 1px;
  width: 500px;
  background-color: grey;
  transform: rotate(.12turn);
  margin-top: 7em;
  border: 1px;
  border-bottom: double;
}


.project-link {
  animation: shake 1s alternate infinite;
  animation-play-state: paused;
}

.project-link:hover {
  animation-play-state: running;
}

@keyframes shake {
  25% {
    padding-left: 15px;
  }
  50% {
    padding-right: 15px;
  }
  75%{
    padding-left: 10px;
  }
  99%{
    padding-right: 10px;
  }
}

.little {
  z-index: 2;
  border-width: 1px;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  border-top: groove;
  border-left: groove;
  border-color: grey;
}

.littlebottom {
  z-index: 2;
  border-width: 1px;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  border-style: dotted;
  border-color: grey;
}

@keyframes glyphy{
  0%{
    border-color: grey;
  }
  20%{
    margin-top: 5px;
  }
  25%{
    opacity: .2;
  }
  40%{
    border-color: grey;
    margin-left: 5px

  }
  45%{
    opacity: .2;
  }
  80%{
    border-color: grey;
    margin-left: 10px;
    margin-bottom: 5px;
  }
  100%{
    margin: auto;
  }
}

/*@keyframes dance{
  0%{
    margin-left: 2pt;
    margin-top: 4pt;
  }
  20%{
    margin-left: 10pt;
    margin-top: 12pt;
    color: black;
  }
  25%{
    margin-left: 14pt;
    margin-top: 4pt;
    color: grey;
  }
  40%{
    margin-left: 8pt;
    margin-top: 10pt;
  }
  45%{
    margin-left: 6pt;
    margin-top: 2pt;
    color: black;
  }
  80%{
    margin-right: 4pt;
    margin-top: 6pt;
  }
  100%{
    margin-right: 12pt;
    margin-top: 16pt;
    color: grey;
  }
}*/

/*@keyframes dance2{
  0%{
    margin-right: 2pt;
    margin-bottom: 4pt;
    color: black;
  }
  20%{
    margin-right: 10pt;
    margin-bottom: 12pt;
  }
  25%{
    margin-right: 14pt;
    margin-bottom: 4pt;
  }
  40%{
    margin-right: 8pt;
    margin-bottom: 10pt;
    color: grey;
  }
  45%{
    margin-right: 6pt;
    margin-bottom: 2pt;
    color: grey;
  }
  80%{
    margin-right: 4pt;
    margin-bottom: 6pt;
    color: black;
  }
  100%{
    margin-right: 12pt;
    margin-bottom: 16pt;
  }
}

@keyframes wiggle {
  25%{
    padding-left: 20%;
  }
  50% {
    padding: 1%;
  }
  75%{
    padding-right: 20%;
  }
  100%{
    padding: 1%;
  }
}*/

@keyframes sparkle{
  0%{
    color: black;
  }
  20%{
    color: white;
  }
  25%{
    color: grey;
  }
  40%{
    color: white;
  }
  45%{
    color: black;
  }
  100%{
    color: white;
  }
}

@keyframes sparkle{
  0%{
    color: black;
  }
  3% {
    color: teal;
  }
  18% {
    color: black;
  }
  20%{
    color: white;
  }
  25%{
    color: grey;
  }
  40%{
    color: white;
  }
  45%{
    color: black;
  }
  60% {
    color: teal;
  }
  63%{
    color: black;
  }
  68%{
    color: white;
  }
  90%{
    color: black;
  }
  100%{
    color: white;
  }
}

@keyframes sparkle4{
  0%{
    color: black;
  }
  10% {
    color: white;
  }
  15% {
    color: black;
  }
  20%{
    color: white;
  }
  25%{
    color: grey;
  }
  30% {
    color: white;
  }
  35% {
    color: black;
  }
  40%{
    color: white;
  }
  45%{
    color: black;
  }
  100%{
    color: white;
  }
}

@keyframes sparkle2{
  0%{
    color: white;
  }
  20%{
    color: grey;
  }
  25%{
    color: black;
  }
  70%{
    color: white;
  }
  45%{
    color: black;
  }
  100%{
    color: white;
  }
}

@keyframes sparkle5{
  0%{
    color: white;
  }
  15% {
    color: black;
  }
  20%{
    color: teal;
  }
  25%{
    color: black;
  }
  35% {
    color: teal;
  }
  40% {
    color: black;
  }
  45% {
    color: white;
  }
  50% {
    color: teal;
  }
  60% {
    color: black;
  }
  70%{
    color: white;
  }
  75%{
    color: black;
  }
  80% {
    color: white;
  }
  85% {
    color: teal;
  }
  90% {
    color: black;
  }
  95% {
    color: teal;
  }
  100%{
    color: white;
  }
}


@keyframes sparkle2{
  0%{
    color: white;
  }
  20%{
    color: grey;
  }
  25%{
    color: black;
  }
  70%{
    color: white;
  }
  45%{
    color: black;
  }
  100%{
    color: white;
  }
}

@keyframes sparkle6{
  0%{
    color: white;
  }
  5%{
    color: black;
  }
  10%{
    color: white;
  }
  20%{
    color: teal;
  }
  25%{
    color: black;
  }
  35% {
    color: teal;
  }
  38% {
    color: white;
  }
  40% {
    color: black;
  }
  42%{
    color: teal;
  }
  45% {
    color: white;
  }
  50% {
    color: teal;
  }
  60% {
    color: black;
  }
  63% {
    color: teal;
  }
  67%{
    color: black;
  }
  70%{
    color: white;
  }
  75%{
    color: black;
  }
  80% {
    color: white;
  }
  85% {
    color: teal;
  }
  88%{
    color:white;
  }
  90% {
    color: black;
  }
  92%{
    color: teal;
  }
  95% {
    color: teal;
  }
  97%{
    color: black;
  }
  100%{
    color: white;
  }
}

@keyframes sparkle3{
  0%{
    color: black;
  }
  40%{
    color: white;
  }
  100%{
    color: black;
  }
}



.pad-me {
  margin-left: .5em;
  margin-right: .5em;
}

.hide {
	color: black;
}

.center-vertical-less {
  padding-top: 3em;
}

.bottom-space {
  padding-bottom: 3em;
  margin-bottom: 0;
}

.center-vertical {
  margin-top: 13%;
}

.more-vertical {
  padding-top: 45%;
}

.slight-pad {
  padding: 2%;
}

.move-right {
  padding-left: 5%;
}



@keyframes bluePulse {
  0% {box-shadow:0 0 30px #24b8c6}
  50% {box-shadow:0 0 80px #24b8c6}
  100% {box-shadow:0 0 30px #24b8c6}
}
span.glow {
  width:100%;
  height:100%;background:#222;
  position:relative;
  display:block;
  border-radius:200px;
  animation:bluePulse 2s infinite;
  -webkit-animation:bluePulse 2s infinite;
  -moz-animation:bluePulse 2s infinite;
  -o-animation:bluePulse 2s infinite;
}



@keyframes bubbleUp {
  0% {bottom:95px;-webkit-transform:scale(.9);opacity:0}
  1% {bottom:95px;-webkit-transform:scale(.3);opacity:0}
  30% {bottom:110px;-webkit-transform:scale(.8);opacity:1}
  95% {bottom:545px;-webkit-transform:scale(.3);opacity:1}
  99% {bottom:550px;-webkit-transform:scale(3);opacity:0}
  100% {bottom:110px;-webkit-transform:scale(.9);opacity:0}
}

@keyframes bubbleUp1 {
  0% {bottom:110px;-webkit-transform:scale(.9);opacity:0}
  1% {bottom:110px;-webkit-transform:scale(.3);opacity:0}
  30% {bottom:110px;-webkit-transform:scale(.8);opacity:1}
  95% {bottom:400px;-webkit-transform:scale(.3);opacity:1}
  99% {bottom:320px;-webkit-transform:scale(3);opacity:0}
  100% {bottom:110px;-webkit-transform:scale(.9);opacity:0}
}

@keyframes bubbleUp2 {
  0% {bottom:50px;-webkit-transform:scale(.9);opacity:0}
  1% {bottom:50px;-webkit-transform:scale(.3);opacity:0}
  30% {bottom:270px;-webkit-transform:scale(.8);opacity:1}
  95% {bottom:500px;-webkit-transform:scale(.3);opacity:1}
  99% {bottom:545px;-webkit-transform:scale(3);opacity:0}
  100% {bottom:110px;-webkit-transform:scale(.9);opacity:0}
}

@keyframes bubbleUp3 {
  0% {bottom:50px;-webkit-transform:scale(.9);opacity:0}
  1% {bottom:50px;-webkit-transform:scale(.3);opacity:0}
  30% {bottom:200px;-webkit-transform:scale(.8);opacity:1}
  95% {bottom:300px;-webkit-transform:scale(.3);opacity:1}
  99% {bottom:400px;-webkit-transform:scale(3);opacity:0}
  100% {bottom:110px;-webkit-transform:scale(.9);opacity:0}
}

@keyframes bubbleUp4 {
  0% {bottom:110px;-webkit-transform:scale(.9);opacity:0}
  1% {bottom:110px;-webkit-transform:scale(.3);opacity:0}
  30% {bottom:350px;-webkit-transform:scale(.8);opacity:1}
  95% {bottom:510px;-webkit-transform:scale(.3);opacity:1}
  99% {bottom:520px;-webkit-transform:scale(3);opacity:0}
  100% {bottom:110px;-webkit-transform:scale(.9);opacity:0}
}

div#beaker span.bubble {
  background:#fff;
  width:110px;
  height:110px;
  position:absolute;
  display:block;
  left:110px;
  bottom:110px;
  border-radius:100px;
  background:-moz-radial-gradient(center 45deg, circle closest-corner, rgba(75,190,200,0), rgba(75,190,200,.1), rgba(75,190,200,.3), rgba(255,255,255,.7));
  background:gradient(center 45deg, circle closest-corner, rgba(75,190,200,0), rgba(75,190,200,.1), rgba(75,190,200,.3), rgba(255,255,255,.7));
  background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,0) 0%, rgba(9,133,167,0.1) 51%, rgba(9,133,167,0.3) 71%, rgba(9,133,167,.7) 100%);
  animation:bubbleUp 4s infinite ease-in-out;
  -webkit-animation:bubbleUp 4s infinite ease-in-out;
  -o-animation:bubbleUp 4s infinite ease-in-out;
  -moz-animation:bubbleUp 4s infinite ease-in-out;
}

div#beaker2 span.bubble {
  background:#fff;
  width:110px;
  height:110px;
  position:absolute;
  display:block;
  left:200px;
  bottom:50px;
  border-radius:150px;
  background:-moz-radial-gradient(center 45deg, circle closest-corner, rgba(75,190,200,0), rgba(75,190,200,.1), rgba(75,190,200,.3), rgba(255,255,255,.7));
  background:gradient(center 45deg, circle closest-corner, rgba(75,190,200,0), rgba(75,190,200,.1), rgba(75,190,200,.3), rgba(255,255,255,.7));
  background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,0) 0%, rgba(9,133,167,0.1) 51%, rgba(9,133,167,0.3) 71%, rgba(9,133,167,.7) 100%);
  animation:bubbleUp1 4s infinite ease-in-out;
  -webkit-animation:bubbleUp1 4s infinite ease-in-out;
  -o-animation:bubbleUp1 4s infinite ease-in-out;
  -moz-animation:bubbleUp1 4s infinite ease-in-out;
}

div#beaker3 span.bubble {
  background:#fff;
  width:110px;
  height:110px;
  position:absolute;
  display:block;
  left:300px;
  bottom:110px;
  border-radius:76px;
  background:-moz-radial-gradient(center 45deg, circle closest-corner, rgba(75,190,200,0), rgba(75,190,200,.1), rgba(75,190,200,.3), rgba(255,255,255,.7));
  background:gradient(center 45deg, circle closest-corner, rgba(75,190,200,0), rgba(75,190,200,.1), rgba(75,190,200,.3), rgba(255,255,255,.7));
  background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,0) 0%, rgba(9,133,167,0.1) 51%, rgba(9,133,167,0.3) 71%, rgba(9,133,167,.7) 100%);
  animation:bubbleUp2 4s infinite ease-in-out;
  -webkit-animation:bubbleUp2 4s  infinite ease-in-out;
  -o-animation:bubbleUp2 4s infinite ease-in-out;
  -moz-animation:bubbleUp2 4s infinite ease-in-out;
}

div#beaker6 span.bubble {
  background:#fff;
  width:110px;
  height:110px;
  position:absolute;
  display:block;
  left:533px;
  bottom:25px;
  border-radius:140px;
  background:-moz-radial-gradient(center 45deg, circle closest-corner, rgba(75,190,200,0), rgba(75,190,200,.1), rgba(75,190,200,.3), rgba(255,255,255,.7));
  background:gradient(center 45deg, circle closest-corner, rgba(75,190,200,0), rgba(75,190,200,.1), rgba(75,190,200,.3), rgba(255,255,255,.7));
  background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,0) 0%, rgba(9,133,167,0.1) 51%, rgba(9,133,167,0.3) 71%, rgba(9,133,167,.7) 100%);
  animation:bubbleUp4 4s infinite ease-in-out;
  -webkit-animation:bubbleUp4 4s  infinite ease-in-out;
  -o-animation:bubbleUp4 4s infinite ease-in-out;
  -moz-animation:bubbleUp4 4s infinite ease-in-out;
}

div#beaker4 span.bubble {
  background:#fff;
  width:110px;
  height:110px;
  position:absolute;
  display:block;
  left:745px;
  bottom:90px;
  border-radius:110px;
  background:-moz-radial-gradient(center 45deg, circle closest-corner, rgba(75,190,200,0), rgba(75,190,200,.1), rgba(75,190,200,.3), rgba(255,255,255,.7));
  background:gradient(center 45deg, circle closest-corner, rgba(75,190,200,0), rgba(75,190,200,.1), rgba(75,190,200,.3), rgba(255,255,255,.7));
  background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,0) 0%, rgba(9,133,167,0.1) 51%, rgba(9,133,167,0.3) 71%, rgba(9,133,167,.7) 100%);
  animation:bubbleUp 4s infinite ease-in-out;
  -webkit-animation:bubbleUp 4s  infinite ease-in-out;
  -o-animation:bubbleUp 4s infinite ease-in-out;
  -moz-animation:bubbleUp 4s infinite ease-in-out;
}

div#beaker5 span.bubble {
  background:#fff;
  width:110px;
  height:110px;
  position:absolute;
  display:block;
  left:800px;
  bottom:60px;
  border-radius:50px;
  background:-moz-radial-gradient(center 45deg, circle closest-corner, rgba(75,190,200,0), rgba(75,190,200,.1), rgba(75,190,200,.3), rgba(255,255,255,.7));
  background:gradient(center 45deg, circle closest-corner, rgba(75,190,200,0), rgba(75,190,200,.1), rgba(75,190,200,.3), rgba(255,255,255,.7));
  background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,0) 0%, rgba(9,133,167,0.1) 51%, rgba(9,133,167,0.3) 71%, rgba(9,133,167,.7) 100%);
  animation:bubbleUp1 4s infinite ease-in-out;
  -webkit-animation:bubbleUp1 4s  infinite ease-in-out;
  -o-animation:bubbleUp1 4s infinite ease-in-out;
  -moz-animation:bubbleUp1 4s infinite ease-in-out;
}

div#beaker7 span.bubble {
  background:#fff;
  width:110px;
  height:110px;
  position:absolute;
  display:block;
  left:950px;
  bottom:60px;
  border-radius:50px;
  background:-moz-radial-gradient(center 45deg, circle closest-corner, rgba(75,190,200,0), rgba(75,190,200,.1), rgba(75,190,200,.3), rgba(255,255,255,.7));
  background:gradient(center 45deg, circle closest-corner, rgba(75,190,200,0), rgba(75,190,200,.1), rgba(75,190,200,.3), rgba(255,255,255,.7));
  background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,0) 0%, rgba(9,133,167,0.1) 51%, rgba(9,133,167,0.3) 71%, rgba(9,133,167,.7) 100%);
  animation:bubbleUp1 4s infinite ease-in-out;
  -webkit-animation:bubbleUp1 4s  infinite ease-in-out;
  -o-animation:bubbleUp1 4s infinite ease-in-out;
  -moz-animation:bubbleUp1 4s infinite ease-in-out;
}

div#beaker8 span.bubble {
  background:#fff;
  width:110px;
  height:110px;
  position:absolute;
  display:block;
  left:1050px;
  bottom:60px;
  border-radius:50px;
  background:-moz-radial-gradient(center 45deg, circle closest-corner, rgba(75,190,200,0), rgba(75,190,200,.1), rgba(75,190,200,.3), rgba(255,255,255,.7));
  background:gradient(center 45deg, circle closest-corner, rgba(75,190,200,0), rgba(75,190,200,.1), rgba(75,190,200,.3), rgba(255,255,255,.7));
  background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,0) 0%, rgba(9,133,167,0.1) 51%, rgba(9,133,167,0.3) 71%, rgba(9,133,167,.7) 100%);
  animation:bubbleUp 4s infinite ease-in-out;
  -webkit-animation:bubbleUp 4s  infinite ease-in-out;
  -o-animation:bubbleUp 4s infinite ease-in-out;
  -moz-animation:bubbleUp 4s infinite ease-in-out;
}

div#beaker9 span.bubble {
  background:#fff;
  width:110px;
  height:110px;
  position:absolute;
  display:block;
  left:1200px;
  bottom:60px;
  border-radius:50px;
  background:-moz-radial-gradient(center 45deg, circle closest-corner, rgba(75,190,200,0), rgba(75,190,200,.1), rgba(75,190,200,.3), rgba(255,255,255,.7));
  background:gradient(center 45deg, circle closest-corner, rgba(75,190,200,0), rgba(75,190,200,.1), rgba(75,190,200,.3), rgba(255,255,255,.7));
  background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,0) 0%, rgba(9,133,167,0.1) 51%, rgba(9,133,167,0.3) 71%, rgba(9,133,167,.7) 100%);
  animation:bubbleUp3 4s infinite ease-in-out;
  -webkit-animation:bubbleUp3 4s  infinite ease-in-out;
  -o-animation:bubbleUp3 4s infinite ease-in-out;
  -moz-animation:bubbleUp2 4s infinite ease-in-out;
}


.tiny {
  font-size: 80%;
  padding-top: 3em;
}
